html,
body {
  height: 100%;
  margin: 0;
}

.leftPanel {
  float: left;
  width: 30%;
}

.leftPanel a {
  color: #1ce0e0;
  text-decoration: none;
}

.leftPanel a:hover {
  text-decoration: underline;
}

.leftPanel img {
  padding-bottom: 10px;
}

.rightPanel {
  float: right;
  padding-bottom: 40px;
  width: 65%;
}

.rightPanel a {
  color: #1ce0e0;
  text-decoration: none;
}

.contact {
  display: none;
}

@media screen and (max-width: 1366px) {
  .leftPanel {
    float: none;
    width: 100%;
  }

  .rightPanel {
    width: 100%;
  }
}
