.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

.leftPanel {
  /* background-color: black; */
  float: left;
  width: 30%;
}

.leftPanel a {
  color: #1ce0e0;
  text-decoration: none;
}

.leftPanel a:hover {
  text-decoration: underline;
}

.contact a {
  padding-right: 24px;
}

.contact img {
  height: 24px;
  width: 24px;
}

.rightPanel {
  /* background-color: grey; */
  float: right;
  width: 70%;
}

@media screen and (max-width: 1023px) {
  .leftPanel {
    float: none;
    width: 100%;
  }

  .rightPanel {
    display: none;
  }
}
