:root {
  background-color: #27374d;
  color: #9db2bf;
  font-size: 1.2rem;
  margin: auto;
  width: 90%;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
