.organization {
  position: relative;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  box-sizing: border-box;
  padding-right: 8px;
}

.organization:hover {
  cursor: pointer;
}

.orgImage {
  display: block;
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 4px;
}
